nav,
.button-getdrink {
  background-color: rgb(159, 66, 46);
  display: flex;
  justify-content: center;
}

nav > button,
.button-getdrink > button {
  padding: 12px;
  border-radius: 10%;
  margin: 1px;
}

h1, h2, h3, p {
  text-align: center;
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
  p {
    text-align: left;

  }
}

.drink-container {
  margin: 0 auto;
  border: 1px solid red;
}

.drink-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.drink-list {
  display: flex;
  flex-flow: row wrap;
}

.drink-list > div {
  width: 100%;
  margin: 5px;
}

.drink-list > div > img {
  width: 100%;
  aspect-ratio: 4/6;
  object-fit: contain;
  margin: 0 auto;
  display: block
}

body { 
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(74,74,212,1) 35%, rgba(0,212,255,1) 100%);
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
  .drink-list > div {
    width: 45%;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
  .drink-list > div {
    width: 23%;
  }
}

/*Large devices (desktops, 992px and up)*/ 
@media (min-width: 992px) { 
  .drink-list > div {
    width: 16%;
  }
}